export TF_VAR_old_account_default_role=account-write
export TF_CLI_ARGS_init="-backend-config=role_arn=arn:aws:iam::311462405659:role/operator -upgrade=true  -reconfigure"
export TF_WORKSPACE=migration

